@import "~styles/lib.scss";

.scene {
    position: absolute;

    width: 100vw;
    height: 100vh;

    canvas {
        display: block;
        // background: linear-gradient(to bottom, #3185d4 -5%, #133558 18%, #8e0d65 71%);
        background: linear-gradient(to bottom, #3185d4  0%, #133558  18%, #8e0d65  91%)
    }
}
