@import "~styles/lib.scss";

.scene {
    position: absolute;

    width: 100vw;
    height: 100vh;

    canvas {
        display: block;
        // background: linear-gradient(to bottom, #3185d4 -5%, #133558 18%, #8e0d65 71%);
        background: linear-gradient(to bottom, #3185d4  0%, #133558  18%, #8e0d65  91%)
    }
}

.hue-field {
    width: 13px !important;
}

#fin {
  opacity: 0;
  height: 100vh;
  min-width: 100vw;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.fade {
  #app {
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(255, 255, 255, 0);
      z-index: 1;

      animation: fadeEnd 35s ease-in;

      @keyframes fadeEnd {
        0% {background-color: rgba(255, 255, 255, 0);}
        95% {background-color: rgba(255, 255, 255, 1);}
        100% {background-color: rgba(255, 255, 255, 0);}
      }
    }
  }

  #fin {
    opacity: 1 !important;
    transition: opacity 0s;
    transition-delay: 33.25s;
  }
}
