@import '~styles/lib.scss';

.worlds-map {
    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 180;

    overflow: scroll;
    &::-webkit-scrollbar { width: 0 !important; }

    canvas {
        width: 100%;
        height: 100%;

        display: block;
    }

    .inner {
        width: 1125px;
        height: 1067px;

        position: relative;

        margin: 0 auto;
    }

    .world {
        position: absolute;
        top: 0;
        left: 0;
        width: 300px;
        transition: z-index 0.6s, transform 0.6s, top 0.6s, left 0.6s;

        div.name {
            color: $white;
            font-size: 3.6rem;
            min-width: 300px;
            font-family: "brandon-regular", sans-serif;
            text-transform: uppercase;
            opacity: 0;
        }

        img {
            width: 100%;
            height: auto;
            transition: transform 0.6s, opacity 0.6s;
        }

        &:nth-child(1) {
            z-index: 190;
            width: 1030px;
            top: 500px;
            left: -275px;
            transform: scale(1) translate(0, 0);
            opacity: 0.5;
            div.name {
                position: absolute;
                top: 87%;
                left: 40%;
                z-index: 200;
            }
        }
        &.active:nth-child(1) {
            z-index: 191 !important;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 1;
            img {
                transform: scale(1.4) translate(0%, 10%);
            }
        }

        &:nth-child(2) {
            z-index: 189;
            width: 390px;
            top: 330px;
            left: 536px;
            div.name {
                position: absolute;
                top: 194%;
                left: 22%;
                z-index: 200;
            }
        }
        &.active:nth-child(2) {
            z-index: 191 !important;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            img {
                transform: scale(2.6) translate(0%, 0%);
            }
        }

        &:nth-child(3) {
            z-index: 188;
            width: 400px;
            top: 250px;
            left: -155px;
            div.name {
                position: absolute;
                top: 220%;
                left: 20%;
                z-index: 200;
            }
        }
        &.active:nth-child(3) {
            z-index: 191 !important;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            img {
                transform: scale(3.1) translate(-2%, 4%);
            }
        }

        &:nth-child(4) {
            z-index: 187;
            width: 310px;
            top: 519px;
            left: 985px;
            div.name {
                position: absolute;
                top: 290%;
                left: 39%;
                z-index: 200;
            }
        }
        &.active:nth-child(4) {
            z-index: 191 !important;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            img {
                transform: scale(5) translate(0%, 4%);
            }
        }

        &:nth-child(5) {
            z-index: 186;
            width: 140px;
            top: 249px;
            left: 835px;
            img {
                height: 100px;
                width: 75%;
            }
            div.name {
                position: absolute;
                top: 320%;
                left: -14%;
                z-index: 200;
            }
        }
        &.active:nth-child(5) {
            z-index: 191 !important;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            img {
                transform: scale(8.8) translate(1%, 7%);
            }
        }

    }

    .world.active {
        div.name {
            opacity: 1;
        }
    }
}
