<div class="test-movement">
    <div class="raw">
        <h1>Raw data</h1>
        <div class="label">acceleration X</div>
        <span class="value">{{ movements.aX }}</span>
        <div class="label">acceleration Y</div>
        <span class="value">{{ movements.aY }}</span>
        <div class="label">acceleration Z</div>
        <span class="value">{{ movements.aZ }}</span>

        <div class="label">acceleration including gravity X</div>
        <span class="value">{{ movements.aGravityX }}</span>
        <div class="label">acceleration including gravity Y</div>
        <span class="value">{{ movements.aGravityY }}</span>
        <div class="label">acceleration including gravity Z</div>
        <span class="value">{{ movements.aGravityZ }}</span>

        <div class="label">beta (X)</div>
        <span class="value">{{ movements.beta }}</span>
        <div class="label">gamma (Y)</div>
        <span class="value">{{ movements.gamma }}</span>
        <div class="label">alpha (Z)</div>
        <span class="value">{{ movements.alpha }}</span>
    </div>

    <div class="prev-raw">
        <h1>Raw data</h1>
        <div class="label">acceleration X</div>
        <span class="value">{{ movements.aX }}</span>
        <div class="label">acceleration Y</div>
        <span class="value">{{ movements.aY }}</span>
        <div class="label">acceleration Z</div>
        <span class="value">{{ movements.aZ }}</span>

        <div class="label">acceleration including gravity X</div>
        <span class="value">{{ movements.aGravityX }}</span>
        <div class="label">acceleration including gravity Y</div>
        <span class="value">{{ movements.aGravityY }}</span>
        <div class="label">acceleration including gravity Z</div>
        <span class="value">{{ movements.aGravityZ }}</span>

        <div class="label">beta (X)</div>
        <span class="value">{{ movements.beta }}</span>
        <div class="label">gamma (Y)</div>
        <span class="value">{{ movements.gamma }}</span>
        <div class="label">alpha (Z)</div>
        <span class="value">{{ movements.alpha }}</span>
    </div>

    <div class="reference">
        <h1>reference object</h1>
        <div class="label">acceleration X</div>
        <span class="value">{{ movements.raX }}</span>
        <div class="label">acceleration Y</div>
        <span class="value">{{ movements.raY }}</span>
        <div class="label">acceleration Z</div>
        <span class="value">{{ movements.raZ }}</span>

        <div class="label">acceleration including gravity Y</div>
        <span class="value">{{ raGravityY }}</span>

        <div class="label">beta (X)</div>
        <span class="value">{{ movements.rbeta }}</span>
        <div class="label">gamma (Y)</div>
        <span class="value">{{ movements.rgamma }}</span>
        <div class="label">alpha (Z)</div>
        <span class="value">{{ movements.ralpha }}</span>
    </div>

    <div class="delta">
        <h1>Delta with reference</h1>
        <div class="label">acceleration X</div>
        <span class="value">{{ movements.daX }}</span>
        <div class="label">acceleration Y</div>
        <span class="value">{{ movements.daY }}</span>
        <div class="label">acceleration Z</div>
        <span class="value">{{ movements.daZ }}</span>

        <div class="label">acceleration including gravity Y</div>
        <span class="value">{{ movements.daGravityY }}</span>

        <div class="label">beta (X)</div>
        <span class="value">{{ movements.dbeta }}</span>
        <div class="label">gamma (Y)</div>
        <span class="value">{{ movements.dgamma }}</span>
        <div class="label">alpha (Z)</div>
        <span class="value">{{ movements.dalpha }}</span>
    </div>

    <div class="delta">
        <h1>Delta with previous value</h1>
        <div class="label">acceleration X</div>
        <span class="value">{{ movements.daXPrev }}</span>
        <div class="label">acceleration Y</div>
        <span class="value">{{ movements.daYPrev }}</span>
        <div class="label">acceleration Z</div>
        <span class="value">{{ movements.daZPrev }}</span>

        <div class="label">acceleration including gravity Y</div>
        <span class="value">{{ movements.daGravityYPrev }}</span>

        <div class="label">beta (X)</div>
        <span class="value">{{ movements.dbetaPrev }}</span>
        <div class="label">gamma (Y)</div>
        <span class="value">{{ movements.dgammaPrev }}</span>
        <div class="label">alpha (Z)</div>
        <span class="value">{{ movements.dalphaPrev }}</span>

        <div class="label">alpha (Z)</div>
        <span class="value">{{ movements.dalphaPrev }}</span>
        <div class="label">alpha (Z)</div>
        <span class="value">{{ movements.dalphaPrev }}</span>
    </div>

</div>
