<div class="header-app">
    <div class="timeline">
        <span class="line"></span>
        <div class="bullets">
            <span class="bullet"></span>
            <span class="bullet"></span>
            <span class="bullet"></span>
            <span class="bullet"></span>
            <span class="bullet"></span>
            <span class="bullet"></span>
            <span class="bullet"></span>
        </div>
    </div>
    <div class="uniline">
        <span class="empty line"></span>
        <span class="full line"></span>
        <span class="bullet"></span>
    </div>
    <div class="count">
        <span id="counter">0</span> lux
        <span>/ 100000 lux</span>
    </div>
</div>
