@import '~styles/lib.scss';

.test-movement {
    h1 {
        font-size: 40px;
    }

    .raw, .reference, .delta {
        float: left;
        margin-right: 40px;
    }

    .value {
        display: block;
        margin-bottom: 10px;
    }
}
